{{#extends 'base'}}

{{#block "content"}}
<h2>Category List</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>UoM</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{this.category_id}}</td>
            <td>{{this.category}}</td>
            <td>
                <a href="/categories/{{this.category_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
        <tr>
            <a href="/categories/create" class="btn btn-primary btn-sm">Add category</a>
        </tr>
    </tbody>
</table>

{{/block}}

{{/extends}}